/*----NAV----*/
body {
	font-family: "Arial", Helvetica, sans-serif;
}
h1 {
	color: #7F3F98;
	margin: 10px 0 15px 10px;
}
h2 {
	margin: 10px 0 15px 0;
}
hr {
	margin: 20px 0 20px 0;
}
.nav ul {
    list-style-type: none;
    margin: 70px 20px 70px 20px;
    padding: 0;
    background-color: #7F3F98;
	border-radius: 10px;
	height: 45px;
	border-bottom: 3px #ccc solid;
}
.nav li {
	font-weight: bold;
	float: left;
	margin: 0 auto;
}
#firstlink {
	margin-left: 25%;
}
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav img {
	float: left;
	margin-top: -50px;
	text-align: center;
}
.nav li a:hover {
    background-color: #111;
}

/*----media header----*/
.media {
	width: 75px;
	height: 20px;
	float: left;
	position: fixed;
	margin-top: -70px;
	background-color: #111;
	border-radius: 5px;
	padding: 3px 3px 5px 8px;
}
.media img{
	float: left;
	display: block;
	height: 20px;
	margin: 0 5px 0 0;
}
/*----MAIN PAGE----*/
.latest-news {
	width: 59%;
	margin-left: 20px;
	display: inline-block;
	float: left;
}
.recent-updates {
	width: 35%;
	margin-right: 20px;
	display: inline-block;
	float: right
}
.text {
	background-color: #eeeeee;
	padding: 5px 20px 5px 20px;
	margin-bottom: 30px;
	border-bottom: 3px #ccc solid;
}
.image {
	margin-bottom: 30px;
	padding-top: 10px;
	height: 200px;
	background-color: #ccc;
}
.ps-ranks {
	height: 200px;
	background-color: #ccc;
}
/*----RECENT UPDATES----*/
.recent-updates {
	background-color: #FFD26C;
	border: 5px #E8941A solid;
}
.badges input {
	height: 50px;
	margin: 0 0 15px 10px;
}
#hide {
	display: none;
}
.text-toggle {
	background-color: #eeeeee;
	padding: 5px 20px 5px 20px;
	border-bottom: 3px #ccc solid;
	margin: 0 3px 10px 3px;
}
.twitter-feed {
	height: 400px;
	background-color: antiquewhite;
	margin: 15px 3px 10px 3px;
}
